{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZoomDeli | Delivery</title>
    <link href="{%static 'images/bowl-food-solid.svg'%}" rel="icon" type="img/icons"> 
    <!--CSS LINK-->
    <link href="{%static 'css/delivery.css'%}" rel="stylesheet" type="text/css">
    <!--FONT LINK-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Slackside+One&display=swap" rel="stylesheet">
    <!--JS link-->
    <script src="https://kit.fontawesome.com/daa48e517c.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="nav-head">
            <p>ZoomDeli</p>
        </div>
        <div class="nav-user">
            <div class="button">
                <ul>
                    <li><a href="{%url 'home'%}">Home</a></li>
                    <li><a href="">Restaurant</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <container>

        <div class="delivery-box">
            <div class="delivery-time">
                <h1>Estimated Delivery Time</h1>
                <div class="dt-boxnum">
                    <div class="hours">
                        <div class="hours-num">
                            <p>00</p>
                        </div>
                        <div class="hours-details">
                            <h4>Hours</h4>
                        </div>
                    </div>
                    <div class="minutes">
                        <div class="minutes-num">
                            <p>00</p>
                        </div>
                        <div class="minutes-details">
                            <h4>Minutes</h4>
                        </div>
                    </div>
                    <div class="seconds">
                        <div class="seconds-num">
                            <p>00</p>
                        </div>
                        <div class="seconds-details">
                            <h4>Seconds</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="delivery-details">
                <h1>Order Details</h1>
                <p>2x Chicken Tikka Masala</p>
                <p>2x Basmati Rice</p>
                <p>1x Naan Roti</p>
                <p>1x Mango Lassi</p>
            </div>

            <div class="delivery-instruct">
                <h1>Delivery Instructions</h1>
                <p>Leave at the door</p>
            </div>

            <div class="delivery-button">
                <button>Track Your Order</button>
            </div>
        </div>

    </container>
    <footer>
        <div class="fbox-1">
            <a href="">Become a delivery driver</a>
            <a href="">Become a partner</a>
            <a href="">Support</a>
        </div>
        <div class="flink-1">
            <a href=""><i class="fa-brands fa-facebook" target="_blank"></i></a>
            <a href="https://www.instagram.com/nothinged._19/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/edwin-james-3a27a411b/"><i class="fa-brands fa-linkedin" target="_blank"></i></a>
            <a href="https://github.com/EdwinJ-19"><i class="fa-brands fa-github" target="_blank"></i></a>
            <p>&copy; 2024 ZoomDeli, Inc.</p>
        </div>
    </footer>
</body>
</html>