{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZoomDeli</title>
    <link href="{%static 'images/bowl-food-solid.svg'%}" rel="icon" type="img/icons"> 
    <!--CSS LINK-->
    <link href="{%static 'css/index.css'%}" rel="stylesheet" type="text/css">
    <!--FONT LINK-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Slackside+One&display=swap" rel="stylesheet">
    <!--JS link-->
    <script src="https://kit.fontawesome.com/daa48e517c.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="nav-head">
            <p>ZoomDeli</p>
            <div class="nav-head-search">
                <input id="searchInput" type="text" placeholder="&#128269;Search for a Restaurant"/>
            </div>
        </div>
        <div class="nav-user">
            <div class="button">
                <ul>
                    <li><a href="{%url 'cart'%}">Cart</a></li>
                    <li><a href="">Global</a></li>
                </ul>
            </div>
            <p><a href="">User</a></p>
        </div>
    </nav>
    <container>
        <div class="c-search-box">
            <div class="c-image">
                <img src="{%static 'images/main_1w.avif'%}" alt="indian_images">
                    <div class="c-text">
                        <p>Food? Delivered to your door!</p>
                    </div>
                    <div class="c-search">
                        <input id="searchInput" type="text" placeholder="&#128269;Nearby Restaurant">
                    </div>
                    <div class="c-button">
                        <a href="">Find Food</a>
                    </div>
            </div>
        </div>

        <div class="nearby-restaurant">
            <div class="nrc-title">
                <h3>Nearby Restaurant</h3>
            </div>
            <div class="nrc-card">
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
            </div>
        </div>

        <div class="explore">
            <div class="exp-title">
                <h3>Explore By Cuisine</h3>
            </div>
            <div class="exp-card">
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href=""><h4>Offers</h4></a>
                    <p>& More</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href=""><h4>Gourmet Selection</h4></a>
                    <p>Chef-Made Cuisine</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href=""><h4>Healthy Foods</h4></a>
                    <p>Curated Dishes</p>
                </div>
            </div>
        </div>

        <div class="popular-restaurant">
            <div class="prc-title">
                <h3>Popular Restaurant</h3>
            </div>
            <div class="nrc-card">
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
                <div class="nrc-img">
                    <img src="{%static 'images/nearby.jpg'%}" alt="img-1">
                    <a href="" target="_blank"><h4>Red Dragon</h4></a>
                    <p>25 mins</p>
                </div>
            </div>
        </div>

    </container>
    <footer>
        <div class="fbox-1">
            <a href="">Become a delivery driver</a>
            <a href="">Become a partner</a>
            <a href="">Support</a>
        </div>
        <div class="flink-1">
            <a href=""><i class="fa-brands fa-facebook" target="_blank"></i></a>
            <a href="https://www.instagram.com/nothinged._19/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/edwin-james-3a27a411b/"><i class="fa-brands fa-linkedin" target="_blank"></i></a>
            <a href="https://github.com/EdwinJ-19"><i class="fa-brands fa-github" target="_blank"></i></a>
            <p>&copy; 2024 ZoomDeli, Inc.</p>
        </div>
        <div class="fform">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email">
            <button type="submit">Sign up for update!</button>
        </div>
    </footer>
</body>
</html>