{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZoomDeli</title>
    <!--CSS LINK-->
    <link href="{%static 'css/index.css'%}" rel="stylesheet" type="text/css">
    <!--FONT LINK-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Kode+Mono:wght@400..700&family=Slackside+One&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-head">
            <p>ZoomDeli</p>
            <div class="search">
                <input id="searchInput" type="text" placeholder="Search for a restaurant..."/>
            </div>
        </div>
        <div class="nav-user">
            <div class="button">
                <ul>
                    <li>Cart</li>
                    <li>Global</li>
                </ul>
            </div>
            <p>User</p>
        </div>
    </nav>
    <container>

    </container>
    <footer>

    </footer>
</body>
</html>