*{
    margin: 0;
    padding: 0;
}
body{
    /* font-family: "Annapurna SIL", serif; */
    font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 3rem;
    flex-wrap: wrap;
}
nav .nav-head{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav .nav-head p{
    font-size: 2rem;
    font-family: "Kode Mono", monospace;
}
nav .nav-user{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav .nav-user .button ul{
    display: flex;
    align-items:center;
    list-style: none;
    gap: 2rem;
} 

container form{
    background-color: #cfcfcf;
    display: block;
    margin: 0 20vw;
    padding: 1rem;
}
container form .checkout-box .cb-box{
    /* background-color: red; */
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}
container form .checkout-box .cb-box input{
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 50vw;
}
container form .checkout-box .cb-box input:hover{
    border: 1px hidden black;
    box-shadow: 1.5px 1px 0.5px 0.5px #333;
    transition: all 0.4s ease-in-out;
}
container form .checkout-box .cb-box input:focus{
    /* border: 1px solid black; */
    outline: none;
}
container form .checkout-box .cb-instruct{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem 0;
}
container form .checkout-box .cb-instruct input{
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
container form .checkout-box .cb-instruct input:hover{
    border: 1px hidden black;
    box-shadow: 1.5px 1px 0.5px 0.5px #333;
    transition: all 0.4s ease-in-out;
}
container form .checkout-box .cb-instruct input:focus{
    /* border: 1px solid black; */
    outline: none;
}
container form .checkout-box .cb-instruct button{
    border: none;
    background-color: white;
    padding: 0.5rem;
}
container form .checkout-box .cb-instruct button:hover{
    background-color: #ff8f78;
    color: white;
    transition: all 0.4s ease-in-out;
}
container form .promo-box .promo-input{
    display: flex;
    align-items: center;
    justify-content: center;
}
container form .promo-box .promo-input input{
    margin: 1rem 0;
    border: none;
    padding: 1rem;
    width: 50vw;
    border-radius: 0.5rem;
}
container form .promo-box .promo-input input:hover{
    border: 1px hidden black;
    box-shadow: 1.5px 1px 0.5px 0.5px #333;
    transition: all 0.4s ease-in-out;
}
container form .promo-box .promo-input input:focus{
    /* border: 1px solid black; */
    outline: none;
}
container form .order-summary .os-amount{
    /* background-color: red; */
    margin: 1rem 5rem;
    font-size: 1.2rem;
}
container form .order-summary .os-amount .total1,.rfee,.dfee,.etax,.code,.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}
container form .cart-box{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 1rem 5rem;
    /* background-color: red; */
    font-size: 1.2rem;
}
container form .cart-box .cartb-img img{
    /* background-color: red; */
    width: 20vw;
    object-fit: contain;
    border-radius: 0.5rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    flex-wrap: wrap;
    color: #ff8f78;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer .fbox-1{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
footer .fbox-1 a{
    text-decoration: none;
    color: #ff8f78;
}
footer .fbox-1 a:hover{
    color: black;
    transition: all 0.2s ease-in-out;
}
footer .flink-1{
    text-align: right;
    font-family: "Kode Mono", monospace;
}
footer .flink-1 a{
    display: inline-block;
    /* background-color: lightblue; */
    /* padding: 0 1rem; */
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1.5rem;
    padding-left: 1rem;
}
footer .flink-1 a .fa-facebook:hover{
    color: #4267B2;
    transition: all 0.2s ease-in-out;
}
footer .flink-1 a .fa-instagram:hover{
    color: #C13584;
    transition: all 0.2s ease-in-out;
}
footer .flink-1 a .fa-github:hover{
    color: #2DBA4E;
    transition: all 0.2s ease-in-out;
}
footer .flink-1 a .fa-linkedin:hover{
    color: #0A66C2;
    transition: all 0.2s ease-in-out;
}
footer .fform{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* background-color: lightblue; */
}
footer .fform input{
    border: 1px hidden black;
    box-shadow: 1px 1px 1px 1.5px #333;
    padding: 0.5rem 1rem;
    text-align: center;
}
footer .fform button{
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #FFE190;
    color: black;
}
footer .fform button:hover{
    background-color: #2DBA4E;
    color: white;
    transition: all 0.2s ease-in-out;
}
