*{
    margin: 0;
    padding: 0;
}
body{
    /* font-family: "Annapurna SIL", serif; */
    font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 3rem;
    flex-wrap: wrap;
}
nav .nav-head{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav .nav-head p{
    font-size: 2rem;
    font-family: "Kode Mono", monospace;
}
nav .nav-head .nav-head-search input{
    border: none;
    border-radius: 10px;
    background-color: #FA9E8C;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
}
nav .nav-user{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav .nav-user .button ul{
    display: flex;
    align-items:center;
    list-style: none;
    gap: 2rem;
}
container .c-search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0 0 0;
    /* background-color: red; */
}
container .c-search-box .c-image .c-text p{
    position: absolute;
    top: 27rem;
    margin: 0 3rem;
    color: #fff;
    font-size: 3.5rem;
    font-weight: bolder; 
    border-radius: 10px;
    backdrop-filter: blur(5px);
}
container .c-search-box .c-image .c-search input{
    position: absolute;
    top: 33rem;
    margin: 0 3rem;
    font-size: 1.5rem;  
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem 2rem; 
    border: none;
}
container .c-search-box .c-image .c-button a{
    position: absolute;
    top: 33rem;
    left: 56rem;
    text-decoration: none;
    color: white;
    border: 1px hidden black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    backdrop-filter: blur(10px);
}
container .c-search-box .c-image .c-button a:hover{
    transition: all 0.2s ease-in-out;
    background-color: #FA9E8C;
    color: white;
    font-weight: bolder;
}
container .c-search-box .c-image img{
    position: relative;
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 30px;
}
container .nearby-restaurant .nrc-title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 25rem;
}
container .nrc-card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 2rem 25rem;
    gap: 1rem;
}
container .nrc-card .nrc-img img{
    width: 10vw;
    border-radius: 0.5rem; 
}
container .nrc-card .nrc-img p{
    color: #cd5c5c;
}
container .explore .exp-title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 25rem;
}
container .explore .exp-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 2rem 25rem;
    gap: 1rem;
    text-align: center;
}
container .explore .exp-card .nrc-img img{
    width: 10vw;
    border-radius: 0.5rem; 
}
container .popular-restaurant .prc-title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 25rem;
}
container .nrc-card .nrc-img a{
    text-decoration: none;
    color: black;
}
container .exp-card .nrc-img a{
    text-decoration: none;
    color: black;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    flex-wrap: wrap;
    color: #ff8f78;
}
footer .fbox-1{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
footer .fbox-1 a{
    text-decoration: none;
    color: #ff8f78;
}
footer .fbox-1 a:hover{
    color: black;
    transition: all 0.2s ease-in-out;
}
footer .flink-1{
    text-align: center;
    font-family: "Kode Mono", monospace;
}
footer .flink-1 a{
    display: inline-block;
    /* background-color: lightblue; */
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1.5rem;
}
footer .flink-1 a .fa-facebook:hover{
    color: #4267B2;
    transition: all 0.2s ease-in-out;
}
footer .flink-1 a .fa-instagram:hover{
    color: #C13584;
    transition: all 0.2s ease-in-out;
}
footer .flink-1 a .fa-github:hover{
    color: #2DBA4E;
    transition: all 0.2s ease-in-out;
}
footer .flink-1 a .fa-linkedin:hover{
    color: #0A66C2;
    transition: all 0.2s ease-in-out;
}
footer .fform{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* background-color: lightblue; */
}
footer .fform input{
    border: 1px hidden black;
    box-shadow: 1px 1px 1px 1.5px #333;
    padding: 0.5rem 1rem;
    text-align: center;
}
footer .fform button{
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #FFE190;
    color: black;
}
footer .fform button:hover{
    background-color: #2DBA4E;
    color: white;
    transition: all 0.2s ease-in-out;
}
