*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    flex-wrap: wrap;
}
nav .nav-head{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav .nav-head p{
    font-size: 1.5rem;
    font-family: "Kode Mono", monospace;
}
nav .nav-user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav .nav-user .button ul{
    display: flex;
    align-items:center;
    list-style: none;
    gap: 1rem;
}